<!-- <p>index works!</p> -->

 <!-- data binding

<h1> {{ TrackTitle}}</h1>
<h2> {{sayhello()}}</h2> -->

<!-- day 2 -->

<!-- <h1>  {{trackdata.trackname}}</h1> -->

<!-- looping  --> 
<!-- <h3 *ngFor = "let course of trackdata.courses"> {{course}} </h3> -->

<!-- interface  -->
<!-- <h1>        Interface </h1>
<h2>Name {{trackinfo.trackName}} </h2>
<img src = "{{trackinfo.trackImage}}">
<ul>
    <li *ngFor = "let course of trackinfo.courses" > {{course}}</li>
</ul> -->

<!--                                      Lab                                     -->
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex dolore, atque veritatis tenetur ipsam aliquid esse ducimus illo, molestiae quidem adipisci nemo expedita quibusdam odio ut necessitatibus beatae laboriosam!</h3>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex dolore, atque veritatis tenetur ipsam aliquid esse ducimus illo, molestiae quidem adipisci nemo expedita quibusdam odio ut necessitatibus beatae laboriosam!</h3>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex dolore, atque veritatis tenetur ipsam aliquid esse ducimus illo, molestiae quidem adipisci nemo expedita quibusdam odio ut necessitatibus beatae laboriosam!</h3>